body{
    background-color: snow;
}

.table{  
    width: 80%;
    margin:auto;
    margin-top: 30px;
    text-align: center;
    border: #6b6b83 2px solid;
    background-color: #fff;
}

.table th{
    color: #fff;
    background:  #6b6b83;
}    




